/*

    Copyright (c) 2023 NoZ Games, LLC. All rights reserved.

*/

using UnityEngine;
using UnityEngine.UIElements;
using UnityEngine.Scripting;

namespace NoZ.RuneHaze.UI
{
    public class #SCRIPTNAME# : UIView
    {
        [Preserve]
        public new class UxmlFactory : UxmlViewFactory<#SCRIPTNAME#, UxmlTraits> { }    

        protected override void Bind()
        {
            base.Bind();
        }
    }
}
